{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="register-box">
    <h2>Register</h2>
    <form method="POST">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="username" id="username" placeholder="Enter your name" required>

        <div class="form-group">
             <label for="password">password</label>
            <input type="text" name="password" placeholder="Enter your password" required>
        </div>
            <button type="submit" class="btn">Register</button>
    </form>
</div>
{% endblock%}